:root {
    --verdin_claro: rgb(168, 175, 141);
    --verdin_escuro: rgb(91, 107, 60);
    --roxin_escuro: rgb(106, 79, 130);
    --roxin_claro:  rgb(185, 170, 203);
    --bege_branco: rgb(255, 252, 245);
    --verde_claro: rgb(206, 217, 192);
    --cinza : rgba(217, 217, 217, 1)
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    height: 90px;  
    background-color: var(--bege_branco);
}

header h1{
    position: absolute;
    left: 18% ;
    top: 3%;
    color: var(--roxin_escuro);
}

header p{
    position: absolute;
    right: 10%;
    top: 5%;
    color: var(--roxin_escuro);
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--roxin_claro);
}
.loginbox{
    position: relative;
    width: 30%;
    height: 450px;
    background-color: var(--cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

#logintxt{
    font-size: 2em;
    color: var(--roxin_escuro);
    text-align: center;
    top: -10px;
    position: relative;
   
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid var(--roxin_escuro);
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    color: var(--roxin_escuro);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;    
}
.inputbox input{
    width: 99%;
    height: 45px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    padding:0 0% 0 5px;
    color: var(--roxin_escuro);
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: var(--roxin_escuro);
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: var(--verdin_escuro);
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: none;
    background: var(--roxin_escuro);
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: var(--bege_branco);
}
.register{
    font-size: .9em;
    color: var(--roxin_escuro);
    text-align: center;
    margin: 25px 0 10px;
}
.register p{
    text-decoration: none;
    color: var(--roxin_escuro);
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}